@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --fontFamily: 'Roboto';
    --colorFoot: #5A1B1B;
    --colorTxt: #C5C6C7;
    --colorBg: #0B0C10;
}